@page
@model IngesDom0.Pages.Users.CreateModel

@{
    ViewData["Title"] = "Create";
}

<h1>Enregistrer</h1>

<h4>Utilisateur</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="User.Name" class="control-label">Nom</label>
                <input asp-for="User.Name" class="form-control" />
                <span asp-validation-for="User.Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.FirstName" class="control-label">Prénom</label>
                <input asp-for="User.FirstName" class="form-control" />
                <span asp-validation-for="User.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Email" class="control-label">Email</label>
                <input asp-for="User.Email" class="form-control" />
                <span asp-validation-for="User.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="User.Sexe" class="control-label">Sexe</label>
                <select asp-for="User.Sexe" class="form-control">
                    @{
                        foreach (var sexe in Enum.GetValues(typeof(IngesDom0.Models.SexeEnum)))
                        {
                            <option value="@sexe">@sexe</option>
                        }
                    }
                </select>
                <span asp-validation-for="User.Sexe" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Enregistrer" class="btn btn-outline-info btn-lg " role="button" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="./Index" class="btn btn-outline-secondary btn-lg " role="button">Retour à la liste</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
